/* Empty. Add your own CSS if you like */
.fagold{
    color : #ffd700;
    font-size: 25px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
}

.fagold-outline{
    color : #A5A293;
    font-size: 25px;
}

.icon-lg{
    font-size: 25px;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	padding-right:10px;
}

.orange {
	background:#ce8c14;
	color:white;
}

.item-carousel{
	padding:0;
}



img.logoCenter{
   width: 170px;
   height: 170px;
}

.center {
  -webkit-align-content: stretch;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  align-content: stretch;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.imgAround{
	position: absolute;
	width:85px;
}

.txtAround{
	position: absolute;
	font-size: 14px
}

.txtcenter{
	position: absolute;
	top: 60px;
	left:45px;
	font-size: 25px;
	color:#EF6F19;
	font-style: italic;
	font-weight: bold;
}

.txtcenter2{
	position: absolute;
	top: 100px;
	left:50px;
	color:#EF6F19;
	font-size: 12px;
}

.imgtopleft{
	top: -85px;
	left:10px;
}

.txttopleft{
	top: -5px;
	left:5px;
}

.imgtopright{
	top: -30px;
	right:-85px;
}

.txttopright{
	top: 55px;
	right:-85px;
}


.imgbottomright{
	width:110px;
	top: 125px;
	right:-110px;
}

.txtbottomright{
	top: 215px;
	right:-70px;
}

.imgbottomleft{
	top: 180px;
	left:5px;
}

.txtbottomleft{
	top: 260px;
	left:-5px;
}

.imgleft{
	top: 55px;
	left:-90px;
}

.txtleft{
	top: 135px;
	left:-65px;
}