/* Empty. Add your own CSS if you like */
.fagold{
    color : #ffd700;
    font-size: 25px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
}

.fagold-outline{
    color : #A5A293;
    font-size: 25px;
}

.icon-lg{
    font-size: 25px;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
	padding-right:10px;
}

.orange {
	background:#ce8c14;
	color:white;
}

.item-carousel{
	padding:0;
}