<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.Kippme" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kippme</name>
    <description>
        Flashez pour la qualité
    </description>
    <author email="contactapp@kippme.fr" href="http://www.kippme.fr">
        KippMe Team
    </author>
    <content src="index.html" />
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="3000" />
    <access origin="*" />
    <access origin="mailto:*" launch-external="yes" />
</widget>
