<ion-view >
<div style="">
  <img src="images/about.png" alt="" style="position: absolute;top:85px;right:20px">
</div>
  <ion-content class="center">
    <div class="row">
      <div class="col">
      <a href="#/app/intro" >
        <img src="images/logoCenterBW.png" alt="" class="logoCenter">
        <i class="txtcenter icon ion-chevron-left icon-lg" style="padding-left:35px"></i> 
        <span class="txtcenter2 ">Retour au menu</span>
      </a>

      <a href="#/app/about/concept">
        <img src="images/concept.png" alt="" class="imgAround imgtopleft">
        <span class="txttopleft txtAround">&nbsp;&nbsp;&nbsp;&nbsp;Le concept</span>
      </a>

      <a href="#/app/about/moncompte">
        <img src="images/tests.png" alt="" class="imgAround imgtopright">
        <span class="txttopright txtAround">Les tests&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>

      <a href="#/app/about/partners">
      <img src="images/partenaires.png" alt="" class="imgAround imgbottomright2">
      <span class="txtbottomright2 txtAround">Nos partenaires</span>
      </a>

      <a href="#/app/about/contact">
      <img src="images/contact.png" alt="" class="imgAround imgbottomleft">
      <span class="txtbottomleft txtAround">Contacter nous</span>
      </a>

      <a href="#/app/about/follow">
      <img src="images/follow.png" alt="" class="imgAround imgleft">
      <span class="txtleft txtAround">Suivre</span>
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>
