<ion-view >
<div style="">
  <img src="images/leconcept.png" alt="" style="position: absolute;top:85px;right:0px">
  <span  ng-if="pagenb===1" style="position: absolute;top:130px;font-style:italic; color:#EF6F19;font-weight: bold;padding-left:10px">1 article, 5 tests en laboratoire</span>
  <span  ng-if="pagenb===1" style="position: absolute;top:155px;padding-left:10px">Exemple :</span>
</div>
  <ion-content class="center">
    <div class="row" ng-if="pagenb===1">
      <div class="col">

      <a href="#/app/about" >
        <img src="images/logoCenterConcept.png" alt="" class="logoCenter">
      </a>
      
        <img src="images/abrasion.png" alt="" class="imgAround imgtopleft">
        <span class="txttopleft txtAround">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Abrasion</span>
      </a>

        <img src="images/coutures.png" alt="" class="imgAround imgtopright">
        <span class="txttopright txtAround">Resistance <br/> des coutures</span>
      </a>

      <img src="images/repassage.png" alt="" class="imgAround imgbottomright2">
      <span class="txtbottomright2 txtAround">Facilité <br/> de repassage</span>
      </a>

      <img src="images/couleurs.png" alt="" class="imgAround imgbottomleft">
      <span class="txtbottomleft txtAround">Tenue des couleurs</span>
      </a>

      <img src="images/vrillage.png" alt="" class="imgAround imgleft">
      <span class="txtleft txtAround">Vrillage <br/> des coutures</span>
      </a>
      </div>
    </div>
    <div class="row" ng-if="pagenb>1">
      <div class="col" style="text-align:center">
           <img src="images/concept{{pagenb}}.png" alt="" class="img-responsive">
      </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-stable">
  <a  href="#/app/intro" class="button button-stable" style="width:33%"> <i class="icon ion-home icon-lg"></i> Accueil</a>
  <button class="button button-stable" style="width:33%" ng-click="pagePrevious()"> <i class="icon ion-chevron-left icon-lg"></i> Retour </button>
  <button class="button button-calm" style="width:33%" ng-click="pageNext()"> <i class="icon ion-chevron-right icon-lg"></i> Suivant</button>
</div>
</ion-view>
