<ion-view >
<div style="">
  <img src="images/nouscontacter.png" alt="" style="position: absolute;top:85px;right:20px">
</div>
  <ion-content class="center" >
    <div class="row" style="width:250px;text-align:center">
      <div class="col">

Envoyer un mail
<br/>
<div>
<a href="mailto:contact@kippme.fr"><span style="color:blue">contact@kippme.fr</span></a>
</div>
<br/>
<br/>
<br/>
<br/>

Par courrier<br/>
<div style="font-weight:bold">
KIPPME<br/>
5, rue du champ des oiseaux<br/>
78480 Montesson<br/>
</div>
      </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-stable">
  <a  href="#/app/intro" class="button button-stable" style="width:45%"> <i class="icon ion-home icon-lg"></i> Retour au menu </a>
  <a  href="#/app/about" class="button button-stable" style="width:45%"> <i class="icon ion-chevron-left icon-lg"></i> Retour à propos</a>
</div>
</ion-view>
