<ion-view >
  <ion-content class="center">
    <div class="row">
      <div class="col">

      <a href="#/app/about" >
        <img src="images/logoCenterBW.png" alt="" class="logoCenter">
        <i class="txtcenter icon ion-chevron-left icon-lg" style="padding-left:35px"></i> 
        <span class="txtcenter2 ">Retour au menu</span>
      </a>
      
      <a href="#" onclick="window.open('https://fr-fr.facebook.com/' , '_system', 'location=yes'); return false;">
        <img src="images/facebook.png" alt="" class="imgAround imgtopleft">
        <span class="txttopleft txtAround">&nbsp;&nbsp;&nbsp;&nbsp;Facebook</span>
      </a>

      <a href="#" onclick="window.open('https://fr.pinterest.com/kippme/' , '_system', 'location=yes'); return false;">
        <img src="images/pinterest.png" alt="" class="imgAround imgtopright">
        <span class="txttopright txtAround">Pinterest&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>

      <a href="#" onclick="window.open('https://www.linkedin.com/' , '_system', 'location=yes'); return false;">
      <img src="images/linkedin.png" alt="" class="imgAround imgbottomright2">
      <span class="txtbottomright2 txtAround">LinkedIn&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>

      <a href="#" onclick="window.open('https://twitter.com/KiPPMe' , '_system', 'location=yes'); return false;">
      <img src="images/twitter.png" alt="" class="imgAround imgbottomleft">
      <span class="txtbottomleft txtAround">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Twitter</span>
      </a>

      <a href="#" onclick="window.open('https://plus.google.com/u/0/b/103525708363954920703/103525708363954920703/about/p/pub' , '_system', 'location=yes'); return false;">
      <img src="images/googleplus.png" alt="" class="imgAround imgleft">
      <span class="txtleft txtAround">Google+</span>
      </a>
      </div>
    </div>
  </ion-content>

</ion-view>
