<ion-view >


  <ion-content class="center">
    <div class="row">
      <div class="col">
      <img src="images/logoCenter.png" alt="" class="logoCenter">
      <span class="txtcenter">Flasher</span>
      <span class="txtcenter2 ">un code barre</span>
      <img src="images/articles.jpg" alt="" class="imgAround imgtopleft">
      <span class="txttopleft txtAround">Tous les articles</span>
      <img src="images/moncompte.png" alt="" class="imgAround imgtopright">
      <span class="txttopright txtAround">Mon Compte</span>
      <img src="images/apropos.png" alt="" class="imgAround imgbottomright">
      <span class="txtbottomright txtAround">A propos</span>
      <img src="images/suggerer.png" alt="" class="imgAround imgbottomleft">
      <span class="txtbottomleft txtAround">Suggérer un article</span>
      <img src="images/actus.png" alt="" class="imgAround imgleft">
      <span class="txtleft txtAround">Actus</span>
      </div>
    </div>
  </ion-content>
</ion-view>
