<ion-view >
  <ion-content class="center">
    <div class="row">
      <div class="col">
 <a href="#/app/browse" >
        <img src="images/logoCenter.png" alt="" class="logoCenter">
        <span class="txtcenter">Flasher</span>
        <span class="txtcenter2 ">un code barre</span>
      </a>
      <a href="#/app/playlists">
        <img src="images/articles.jpg" alt="" class="imgAround imgtopleft">
        <span class="txttopleft txtAround">Tous les articles</span>
      </a>
      <a href="#/app/moncompte">
        <img src="images/moncompte.png" alt="" class="imgAround imgtopright">
        <span class="txttopright txtAround">Mon Compte</span>
      </a>
      <a href="#/app/about">
      <img src="images/apropos.png" alt="" class="imgAround imgbottomright">
      <span class="txtbottomright txtAround">A propos</span>
      </a>
      <a href="#/app/suggest">
      <img src="images/suggerer.png" alt="" class="imgAround imgbottomleft">
      <span class="txtbottomleft txtAround" style="font-weight: bold;">Suggérer un article</span>
      </a>
      <a href="#/app/actus">
      <img src="images/actus.png" alt="" class="imgAround imgleft">
      <span class="txtleft txtAround">Actus</span>
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>
