<ion-side-menus enable-menu-with-back-views="false">
<ion-header-bar style="height:60px;margin:0;padding:0;background:#f2f2f2" >
<div class="row">
  <div class="col col-60">
    
<img src="images/Header.png" alt="" style="max-height:50px;margin-top:-5px;">
  </div>
  <div class="col col-40">
      <img src="images/{{imgTitle}}.png" alt="" class="pull-right" style="height:35px;margin-top:12px;max-width:130px">
  </div>
</div>

</ion-header-bar>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="top:40px">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/intro">
          <i class="icon ion-home icon-lg"></i> Accueil
        </ion-item>
        <ion-item menu-close href="#/app/browse">
         <i class="icon ion-camera icon-lg"></i> Flasher
        </ion-item>
        <ion-item menu-close ng-click="login()">
          <i class="icon ion-lock-combination icon-lg"></i> Mon compte
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
         <i class="icon ion-tshirt-outline icon-lg"></i> Tous les articles
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
         <i class="icon ion-speakerphone icon-lg"></i> Actus
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <i class="icon ion-erlenmeyer-flask icon-lg"></i> A propos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
