<ion-view >
<div style="">
  <img src="images/HomeHeader.png" alt="" style="position: absolute;top:85px;right:20px">
</div>
  <ion-content class="center">
    <div class="row">
      <div class="col">
      <a href="#/app/browse" >
        <img src="images/logoCenter.png" alt="" class="logoCenter">
        <span class="txtcenter">Flasher</span>
        <span class="txtcenter2 ">un code barre</span>
      </a>
      <a href="#/app/playlists">
      <img src="images/articles.jpg" alt="" class="imgAround imgtopleft">
      <span class="txttopleft txtAround">Tous les articles</span>
      </a>
      <img src="images/moncompte.png" alt="" class="imgAround imgtopright">
      <span class="txttopright txtAround">Mon Compte</span>
      <img src="images/apropos.png" alt="" class="imgAround imgbottomright">
      <span class="txtbottomright txtAround">A propos</span>
      <img src="images/suggerer.png" alt="" class="imgAround imgbottomleft">
      <span class="txtbottomleft txtAround">Suggérer un article</span>
      <img src="images/actus.png" alt="" class="imgAround imgleft">
      <span class="txtleft txtAround">Actus</span>
      </div>
    </div>
  </ion-content>
</ion-view>
