<ion-view view-title="KippMe">
    <img src="images/NosPartenaires.png" alt="" style="position: absolute;top:85px;right:20px">
  <ion-content style="margin-top:100px;padding-left:25px">

<div class="row" style="margin-bottom:20px!important;">
  <div class="col col-75"><img src="images/laredoute.png" alt="" class="imgpartners"></div>
  <div class="col">&nbsp;</div>
</div>

<div class="row" style="margin-bottom:20px!important;">
  <div class="col">&nbsp;</div>
  <div class="col col-75"><img src="images/chevignon.png" alt="" class="pull-right imgpartners"></div>
</div>

<div class="row" style="margin-bottom:20px!important;">
  <div class="col col-75"><img src="images/verbaudet.gif" alt=""  class="imgpartners"></div>
  <div class="col">&nbsp;</div>
</div>

<div class="row" style="margin-bottom:20px!important;">
  <div class="col">&nbsp;</div>
  <div class="col col-75"><img src="images/sezane.png" alt=""  class="pull-right imgpartners"></div>
</div>

<div class="row" style="margin-bottom:20px!important;">
  <div class="col col-75"><img src="images/somewhere.jpg" alt=""  class="imgpartners"></div>
  <div class="col">&nbsp;</div>
</div>

  </ion-content>
  <div class="bar bar-footer bar-stable">
  <a  href="#/app/intro" class="button button-stable" style="width:45%"> <i class="icon ion-home icon-lg"></i> Retour au menu général</a>
  <a  href="#/app/about" class="button button-stable" style="width:45%"> <i class="icon ion-chevron-left icon-lg"></i> Retour à propos</a>
</div>
</ion-view>
