<ion-view view-title="Article">
  <ion-content style="top:80px">

        <div class="row">
            <div class="col col-offset-10 col-65">
                <h3 id="description" style="padding:0">{{article.brand | uppercase}} </h2>
                <h4 style="padding:0;">{{article.name}} -  
                <span class="text-muted" style="line-height: 20px;font-size:19px"> {{article.price}}€</span> </h3>
            </div>
            <div class="col col-25">
            <div class="pull-right" style="text-align:center">
                    <span class="icon ion-star fagold"></span>
                    <span class="icon ion-star fagold"></span>
                    <span class="icon ion-star fagold"></span>
                    <span class="icon ion-star fagold"></span>
                    <span class="icon ion-ios-star-outline fagold-outline"></span>
                </div>
            </div>
        </div>
                <div class="row" style="margin-top:-20px;">
                            <div class="col col-offset-10 col-90" style="text-align:center">
                                    <span style="font-size:12px">EAN: {{article.EAN13 }} - Ref:{{article.seller }}</span>
                            </div>
                </div>
                                    <div class="row ">
            <div class="col col-offset-10  col-90">            
                    <highchart id="chart1" config="chartPolar"></highchart>
            </div>
        </div>
        <div class="row ">
            <div class="col col-offset-10  col-90">
            <!-- Slide -->
                <div>
                    <!-- main slider carousel -->
                    <div class="row">
                        <div class="col-100" id="slider">
                            <div class="col-100" id="carousel-bounding-box">
                                <div id="myCarousel" class="carousel slide">
                                    <!-- main slider carousel items -->
                                    <div class="carousel-inner" ng-init="itemactive=1">
                                        <div class="item item-carousel " ng-class="{'active':itemactive===$index}" data-slide-number="$index" ng-repeat="photo in photos | orderBy:'version':false">
                                            <cl-image public-id="{{photo.public_id}}" class=" img-responsive" height="500" crop="fit" quality="80" format="jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/main slider carousel-->


                </div>
                <!-- End Slide -->
            </div>
            </div>


        <div class="row ">
            <div class="col-offset-25 col-50">
                <a ng-href="{{article.brandLink}}" target="_blank">
                    <div style="padding:5px;text-align:center;border:1px lightgrey solid">
                        <span class="text-info">Voir le site de la marque</span>
                    </div>
                </a>


            </div>

        </div>
        <div class="row responsive-sm">
            <div class="col-md-4 col-xs-12 col-sm-12">
                            <h4 style="font-variant: small-caps;"><u>Le plus produit</u></h4>
                <small>
                        Cet encart permet de mettre en avant un point de qualité non pris en compte dans le cahier des charges KIPPME mais important au regard de l’information client. Le texte est rédigé ou validé par KIPPME.com
                        </small>
                <div style="margin-top:25px;margin-bottom:25px;text-align:center;">
                    <a href="#description"><i class="fa  fa-envelope"></i> Nous contacter au sujet de la qualité de cet article</a>
                </div>
            </div>
                        <div class="col-md-8 col-xs-12 col-sm-12">
                                <div id="clients">
                                <h4 style="font-variant: small-caps;"><u>Question taille</u></h4>
                                <highchart id="chart2" config="chartBar"></highchart>
                            </div>
                            <div style="margin-top:25px;margin-bottom:25px;text-align:center;">
                                <a href="#description"><i class="fa  fa-comment-o"></i> J'ai essayé cet article et je souhaite partager mon avis</a>
                            </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-12 col-xs-12 col-sm-12 text-center">
                <div class="social-likes " style="margin-top:15px" data-counters="no">
                    <small style="margin-left:-15px">Partager cette page</small>
                    <div class="facebook" title="Share link on Facebook" style="color:black">Facebook</div>
                    <div class="twitter" title="Share link on Twitter">Twitter</div>
                    <div class="plusone" title="Share link on Google+">Google+</div>
                    <div class="pinterest" title="Share image on Pinterest" data-media="urlpinterest">Pinterest</div>
                </div>
                <br>
                <br>
                <br>
            </div>
            </div>
            </div>
  </ion-content>
<div class="bar bar-footer bar-stable">
  <a  href="#/app/intro" class="button button-stable" style="width:45%"> <i class="icon ion-home icon-lg"></i> Retour à l'accueil</a>
  <a  href="#/app/playlists" class="button button-stable" style="width:45%"> <i class="icon ion-tshirt-outline icon-lg"></i> Retour aux articles</a>
</div>
</ion-view>
